.timer-block {
  width: 150px;
  height: 150px;
  background-color: #4a4a4a;
  box-shadow: 1px 1px 8px #0e0e0e;
  border-radius: 4px;
  padding: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-display {
  width: 90%;
  height: 90%;
  background: #201f1f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 32px;
  font-weight: 900;
  position: relative;
  z-index: 2;
}

.timer-progress-bar {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  z-index: 1;
}

.timer-controller-holder {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffffffa6;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 3;
}

.timer-controller-holder .btn {
  width: 40px;
  cursor: pointer;
}

.timer-block:hover > .timer-controller-holder {
  display: flex;
}