.timer-container {
  display: flex;
  height: calc(100vh - 112px);
  overflow-y: auto;
  background-color: #e3e3e3;
  gap: 16px;
  padding: 16px 16px;
  flex-wrap: wrap;
}

.no-timer-created {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
}